<h1>Active Texts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Family</th>
      <th>Phone number</th>
      <th>Email address</th>
      <th>Last Updated</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.family %></td>
        <td><%= child.phone_number %></td>
        <td><%= child.email_address %></td>
        <td><%= child.updated_at.to_s(:short)%></td>
        <td><%= link_to 'Show', child %></td>
        <td><%= link_to 'Update', edit_child_path(child) %></td>
        <td><%= link_to 'Delete', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child', new_child_path %>
